In [2]:
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [1]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
for type in high_school_types:
    print(type)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [3]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [6]:
#Add the Pandas dependency.
import pandas as pd
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [7]:
for school in school_series:
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [27]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"},
                    {"School ID": 5, "school_name": "Wilson High School", "type": "Charter"},
                    {"School ID": 6, "school_name": "Cabrera High School", "type": "Charter"},
                     {"School ID": 7, "school_name": "Bailey High School", "type": "District"},
                     {"School ID": 8, "school_name": "Holden High School", "type": "Charter"},
                     {"School ID": 9, "school_name": "Pena High School", "type": "Charter"},
                     {"School ID": 10, "school_name": "Wright High School", "type": "Charter"},
                     {"School ID": 11, "school_name": "Rodriquez High School", "type": "District"},
                     {"School ID": 12, "school_name": "Johnson High School", "type": "District"},
                     {"School ID": 13, "school_name": "Ford High School", "type": "District"},
                     {"School ID": 14, "school_name": "Thomas High School", "type": "Charter"}
                    ]
school_df = pd.DataFrame(high_school_dicts)
school_df

    School ID            school_name      type
0           0   Huang High    School  District
1           1   Figueroa High School  District
2           2    Shelton High School   Charter
3           3  Hernandez High School  District
4           4    Griffin High School   Charter
5           5     Wilson High School   Charter
6           6    Cabrera High School   Charter
7           7     Bailey High School  District
8           8     Holden High School   Charter
9           9       Pena High School   Charter
10         10     Wright High School   Charter
11         11  Rodriquez High School  District
12         12    Johnson High School  District
13         13       Ford High School  District
14         14     Thomas High School   Charter

In [29]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [32]:
schools_df[high_schools_dict]

KeyError: "['school_name', 'type'] not in index"

In [11]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [30]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id

# Print the DataFrame.
schools_df

   School ID
0          0
1          1
2          2
3          3
4          4

In [28]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [25]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [26]:
print(school_df)

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [20]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [24]:
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [22]:
# Initialize a new DataFrame.
index_df = pd.DataFrame()

# Add the list to a new DataFrame.
index_df["School ID"] = school_id

# Print the DataFrame.
index_df

   School ID
0          0
1          1
2          2
3          3
4          4

In [23]:
# Initialize a new DataFrame.
school_name_df = pd.DataFrame()

# Add the list to a new DataFrame.
school_name_df["School ID"] = school_name

# Print the DataFrame.
school_name_df

               School ID
0      Huang High School
1   Figueroa High School
2    Shelton High School
3  Hernandez High School
4    Griffin High School